<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/lista.css">
    <title>Lista</title>
</head>
<body onload="getAll()">
    <h1>Ingreso correcto</h1>
    <button onclick="logout()">Logout</button>
    <h2>Lista de usuarios</h2>
    <!--Crear una grilla tipo tabla con los siguientes campos
    Id, Usuario,Bloqueado, Apellido, Nombre, Bloquear, Desbloquear
    -->
    <div class="table">
        <div class="row row-head">
            <div class="col col-head">Id</div>
            <div class="col col-head">Usuario</div>
            <div class="col col-head">Bloqueado</div>
            <div class="col col-head">Apellido</div>
            <div class="col col-head">Nombre</div>
            <div class="col col-head">Bloquear</div>
            <div class="col col-head">Desbloquear</div>
        </div>
        <div id="content-table">
            <!--Aca se cargan los datos de la tabla-->
        </div>
    </div>

    <button class="btn-success" onclick="nextPage()">NEXT</button>

    

    
    <script src="../js/login.js"></script>
    <script src="../js/lista.js"></script>
</body>
</html>