<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/lista.css">
    <title>Lista</title>
</head>
<body onload="getAll()">
    <button class="btn-logout" onclick="logout()">Logout</button>
    <div class="title-container">
        <h1 class="title">Lista de usuarios</h1>
        <h2 class="sub-title" id="sub-title"></h2>
    </div>
    <div class="buscar-container">
        <input type="text" id="buscarUser" placeholder="Buscar por usuario">
        <button class="btn-buscar" onclick="buscar()">Buscar</button>
    </div>

    <!--Crear una grilla tipo tabla con los siguientes campos
    Id, Usuario,Bloqueado, Apellido, Nombre, Bloquear, Desbloquear
    -->
    <div class="table">
        <div class="row row-head">
            <div class="col col-head">Id</div>
            <div class="col col-head">Usuario</div>
            <div class="col col-head">Bloqueado</div>
            <div class="col col-head">Apellido</div>
            <div class="col col-head">Nombre</div>
            <div class="col col-head"><i class="fa-solid fa-lock"></i></div>
            <div class="col col-head"><i class="fa-solid fa-lock-open"></i></div>
        </div>
        <div id="content-table">
            <!--Aca se cargan los datos de la tabla-->
        </div>
    </div>

<div class="buscar-container">
    <h2>Ramiro Hualpa</h2>
</div>
    

    
    <script src="../js/login.js"></script>
    <script src="../js/lista.js"></script>
</body>
</html>