<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP_1 - Ramiro Hualpa</title>
</head>
<body>
    <form method="post">
        <div class="form-control">
            <label for="username">Usuario</label>
            <input type="text" name="user" id="user" placeholder="Ingrese el nombre de usuario" minlength="3">
        </div>
        <div class="form-control">
            <label for="password">Contraseña</label>
            <input type="password" name="pass" id="pass" placeholder="Ingrese la contraseña" minlength="3">
        </div>
        <div class="form-control">
            <button type="button" onclick="login()">Ingresar</button>
        </div>
        
    </form>
</body>
<script type="module" src="../js/main.js"></script>
</html>